<div className="container">
    <br />
    <p id='gallery-p'> {{chefs}}</p>
    <img id="gallery-img" src="assets/images/our-chefs.jpg" />
    <br /><br /><br />
    <p id='gallery-p'> {{kitchen}}</p>
    <img id="gallery-img" src="assets/images/our-kitchen.jpg" />
    <br /><br /><br />
    <p id='gallery-p'> {{patio}}</p>
    <img id="gallery-img" src="assets/images/outdoor-patio-bar.jpg" />
    <br /><br /><br />
    <p id='gallery-p'> {{customerService}}</p>
    <img id="gallery-img" src="assets/images/restaurant-customer-service.jpg" />
</div>