<div className="container">
    <br />
    <p id='gallery-p'> These are our chefs that prepare our delicious menu!</p>
    <img id="gallery-img" src="assets/images/our-chefs.jpg" />
    <br /><br /><br />
    <p id='gallery-p'> A view of our spacious kitchen our chefs use to prepare your meal!</p>
    <img id="gallery-img" src="assets/images/our-kitchen.jpg" />
    <br /><br /><br />
    <p id='gallery-p'> Ask about dining on our beautiful outdoor patio!</p>
    <img id="gallery-img" src="assets/images/outdoor-patio-bar.jpg" />
    <br /><br /><br />
    <p id='gallery-p'> Our staff are always delivering excellent service to all tables directly!</p>
    <img id="gallery-img" src="assets/images/restaurant-customer-service.jpg" />
</div>