<div>

    <div class="container mt-5 mb-5  "  >
      <div class="modal-lg  mx-auto    " >
        <div class="modal-md-dialog  ">
          <div class="modal-content rounded-5 shadow text-center bg-light bg-opacity-25">
            <div class="modal-header  ">
              <h2 class="mx-auto my-auto mt-2 mb-2 display-5 ">Update or Create Food</h2>
            </div>
            <div class="modal-body  ">
              <form class="row justify-content-center "  noValidate [formGroup]="userForm" (ngSubmit)="onSubmit2()">
                <div class="col-9 row">
                  <div class="form-floating mb-3 col-6">
                    <input type="text" class="form-control rounded-4" placeholder='Food ID'
                      name='food_id'
                      required
                      defaultValue={`${fr.formData.food_id}`}
                       />
                    <label htmlFor="id">Food ID</label>
                  </div>
                  <div class="form-floating mb-3 col-6">
                    <input type="text" class="form-control rounded-4" placeholder='Food Name'
                      name='food_name'
                      required
                      defaultValue={`${fr.formData.food_name}`}
                      />
                    <label htmlFor="name">Food Name</label>
                  </div>
                  <div class="form-floating mb-3 col-6">
                    <input type="text" class="form-control rounded-4" placeholder='Price'
                      name='price'
                      defaultValue={`${fr.formData.price}`}
                      />
                    <label htmlFor="price">Price</label>
                  </div>
            

                  <div class="form-floating mb-3 col-6">
                    <input type="text" class="form-control rounded-4" placeholder='Category'
                      name='category'
                      defaultValue={`${fr.formData.category}`}
                      />
                    <label htmlFor="category">Category</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-4" placeholder='Image'
                      name='image'
                      defaultValue={`${fr.formData.image}`}
                     />
                    <label htmlFor="image">Image</label>
                  </div>
                  <div class="form-floating mb-3 " >
                    <textarea class="form-control rounded-4" placeholder='Description'
                     
                      name='description'

                      defaultValue={`${fr.formData.description}`}
                       > </textarea>
                    <label htmlFor="description">Description</label>
                  </div>
                  <div class="col-6 mx-auto">
                    
                    <button class="w-100 mb-2 p-3 btn btn rounded-4 btn-warning rounded-pill"  type="submit">Update
                    </button>
                  </div>
                  <div class="col-6 mx-auto">
                    
                    <button class="w-100 mb-2 p-3 btn btn rounded-4 btn-success rounded-pill"  type="button">Create
                    </button>
                  </div>
                  <div class="w-100"></div>
                  <button  (click)="sayHi()"  class="btn btn-warning me-2"    >deneme</button>
                 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



<app-admin-menu> </app-admin-menu>


