<br /><br />
<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    Name: <input type="text" name="name" ngModel #name="ngModel" required/><br />
    <div *ngIf="name.invalid && name.touched">Name is required!</div>
    Rating: <input type="text" name="rating" ngModel #rating="ngModel" required/><br />
    <div *ngIf="rating.invalid && rating.touched">Rating is required!</div>

    <!--<select [(ngModel)]="selectedValue" name="rating" ngModel #rating="ngModel"  required>
        <option *ngFor="let s of stars" [value]="s">{{s.rating}}</option>
    </select><br />-->
    Review: <input type="text" name="review" ngModel #review="ngModel" required/><br />
    <div *ngIf="review.invalid && review.touched">Review is required!</div> <br />
    <input class="input-background" type="submit" value="Template Registration" [disabled]="myForm.invalid" />
  </form>
  <hr />

<div>
  <span><b>Search </b></span>
  <input type="text" [(ngModel)]="searchValue" (ngModelChange)="searchValue=$event.toLowerCase()" /> <br /><br />
  <span> You searched for "{{ searchValue }}"</span>
  <hr />
  <hr />
</div>

<div *ngFor="let r of reviews">
  <div *ngIf="searchValue === '' || r.name.toLowerCase().includes(searchValue)">
    <p>Name - {{ r.name }}</p>
    <p >Rating - {{ r.rating}} </p>
    <p>Review- {{ r.review }}</p>
    <hr />
  </div>
</div>