<h1 id="topics-hk">Reviews</h1>
<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    Name: <input type="text" name="name" ngModel #name="ngModel" required/><br />
    <div *ngIf="name.invalid && name.touched">Name is required!</div>
    Rating: <input type="text" name="rating" ngModel #rating="ngModel" required/><br />
<!--     <select [(ngModel)]="selectedValue" name="rating" ngModel #rating="ngModel"  required>
        <option *ngFor="let s of stars" [value]="s">{{s.rating}}</option>
    </select><br /> -->
    <div *ngIf="rating.invalid && rating.touched">Rating is required!</div>
    Review: <input type="text" name="review" ngModel #review="ngModel" required/><br />
    <div *ngIf="review.invalid && review.touched">Review is required!</div> <br />
    <input class="input-background" type="submit" value="Post Review" [disabled]="myForm.invalid" />
  </form>
  <hr />

<div>
  <span><b>Search </b></span>
<!--       <select [(ngModel)]="selectedValue" name="rating" ngModel #rating="ngModel"  required>
        <option *ngFor="let s of stars" [value]="s">{{s.rating}}</option>
    </select><br /> -->
  <input type="text" [(ngModel)]="searchValue" (ngModelChange)="searchValue=$event.toLowerCase()" /> <br /><br />
  <span> You searched for "{{ searchValue }}"</span>
  <hr />
  <hr />
</div>

<div *ngFor="let r of reviews"> <!--reviewService.getReviews()-->
  <div id="review-results-div" *ngIf="searchValue === '' || r.name.toLowerCase().includes(searchValue)">
    <p><strong>Name</strong> - {{ r.name }}</p>
    <p ><strong>Rating</strong> - {{ r.rating}} </p>
    <p><strong>Review</strong> - {{ r.review }}</p>
    <hr />
  </div>
</div>