<div class="container   ">
  <!-- bg-dark
    text-white -->


  <header class=" col-5 mx-auto    ">
    <div class="container  row bg-dark p-1 rounded-pill ">
      <!-- <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">  -->
      <div class='col-6   '>
        <div class="row">
          
          <ul class="nav     ">
            <div class="col-6 "></div>
            <li class="nav-item col-3 "><a href="/admin-menu" class="nav-link text-white  ">Menu</a></li>
            <li class="nav-item col-3 "><a href="/admin-order" class="nav-link text-white  ">Orders</a>
            </li>

          </ul>
        </div>

      </div>

      <div class='col-6  row my-auto     '>
        
            <div class="col-2"></div>
          <button type="button" class="btn btn-warning col-4  " (click)="LogOut()"> Log out</button>
          <div class="col-4 "></div>
        
      </div>
    </div>
  </header>

</div>
