<div>
    <nav class='navbar-hk'>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/"> Home</a>
        </a>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/menu">Menu</a>
        </a>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/admin-menu">Admin</a>
        </a>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/orders">Orders</a>
        </a>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/bookings">Bookings</a>
        </a>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/deals"> Deals & Promotions</a>
        </a>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/gallery"> Gallery</a>
        </a>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/reviews"> Reviews</a>
        </a>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/about"> About</a>
        </a>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/contact"> Contact Us</a>
        </a>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/mypage"> My Dashboard</a>
        </a>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/login"> Login</a>
        </a>
        <a id='navsec' class='navbarsection'>
            <a routerLink="/register"> Register</a>
        </a>
        <div class="logo">
            <img id='logo-img' [src]="imagePath" width="150px" />
        </div>
    </nav>

</div>