<div class='container-info'>
    <h1 id="topics-hk">Reserve a seat today!</h1>
    <div class='row-info'>
      <div class='col-info'>

        <h2>Select date</h2>
        <!-- <Calendar
          onChange={changedDate}
          minDate={new Date()}
          maxDate={myFutureDate}
          value={date}
        /> -->
        <p>Current selected date is <b></b></p>

        <div class='select-input'>
          <h2>Select time slot</h2>
          <label>Available Time slot</label> &nbsp; &nbsp;
          <select >
              <option class="dropdown-item" >time</option>
            
          </select>
          <p>You have selected time</p>
        </div>
      </div>
      <div class='col-info'>
        <form id="form-info" onSubmit={handleSubmit}>

          <fieldset style="padding: 20px">
            <legend>Your Info</legend>
            <input type="hidden" class="form-control" id="date-info" value={date.toDateString()} />
            <input type="hidden" class="form-control" id="time-info" value={timeSelected} />

            <div class="form-group">
              <label>Name</label><br />
              <input
                name="fullname"
                class="form-control"
                id="name-info"
                placeholder="Enter name"
                type="text"
              />
            </div>
            <div class="form-group">
              <label>Email address</label><br />
              <input
                name="email"
                type="text"
                class="form-control"
                id="email-info"
                placeholder="Enter email" />
            </div>
            <div class="form-group">
              <label>Phone number</label><br />
              <input
                name="phoneno"
                type="text"
                class="form-control"
                id="phoneno-info"
                placeholder="Phone number" />
            </div>
            <br />
            <button type="submit" class="btn-info">Book now!</button>
          </fieldset>
        </form>
      </div>
    </div>
    <br /> <br /> <br /> <br />
</div>
